*, body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box
}

header{
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

header > p {
    margin: 5px;
}

nav{
   text-align: center;
   margin: 1rem;
}


details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
  }
  
summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}
  
details[open] {
    padding: 0.5em;
}
  
details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}


ul li{
      list-style: none;
      margin: 1rem;
}

ul li a{
    text-decoration: none;
    color: aliceblue;
    background-color: black;
    padding: 5px;
    border-radius: 10px;
}


main{
    text-align: center;
}

#luas-segitiga, #keliling-segitiga{
    border: 2px dashed saddlebrown;
    margin: 1rem;
    padding: 1rem;
}

#form1, #form2{
    background-color: lightgreen;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
}

#luas-form, #keliling-form{
    display: flex;
    padding: 1rem;
    justify-content: center;
    flex-direction: column;
    background-color: lightgoldenrodyellow;
    align-items: center;
}

#luas-form > div, #keliling-form > div{
    margin: 0.5rem;
    padding: 0.5rem;
}

#alas, #tinggi, #sisi1, #sisi2, #sisi3 {
    border: 2px dotted black;
}
input:focus {
    background-color: lightgreen;
}

label {
  padding-right: 10px;
}

#resultLuas, #resultKeliling{
    background-color: aqua;
}

#resultLuas > p, #resultKeliling > p{
    margin: 0.5rem;
}